.header {
    background: $secondaryColor;
    line-height: 56px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15);

    &__container {
        justify-content: center;
        display: flex;
        flex-flow: row wrap;
    }

    &__title {
        margin: 0;
        font-size: 26px;
    }

    &__title-link {
        color: #fff;
        text-decoration: none;
    }

    &__search {
        margin: 0 auto;
        padding: 0 15px;
    }

    &__nav {
        //
    }
}

.search {
    //

    &__input {
        margin-bottom: 0;
        width: 300px;
    }
}

.nav {
    //

    &__title {
        @extend %hidden;
    }

    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        //
    }

    &__link {
        display: block;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
        transition: background .1s;

        &:hover, &:focus {
            background: lighten($secondaryColor, 7%);
        }
    }
}